---
layout: default
---

{% capture performance %}
	{% include performance.markdown %}
{% endcapture %}

{% capture accessibility %}
	{% include accessibility.markdown %}
{% endcapture %}

{% capture seo %}
	{% include seo.markdown %}
{% endcapture %}

{% capture sources %}
	{% include sources.markdown %}
{% endcapture %}

{% capture other %}
	{% include other.markdown %}
{% endcapture %}

<div class="lists">

	{{ performance | markdownify }}

	{{ accessibility | markdownify }}

	{{ seo | markdownify }}

	{{ other | markdownify }}

</div>

<div class="sources">

	{{ sources | markdownify }}

</div>